# Dependencies
node_modules

# Next.js build output
.next
out

# Environment files
.env
.env.*
!.env.production.example

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Uploads (sunucuda volume ile yönetilir)
public/uploads/*
!public/uploads/.gitkeep

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp

# TypeScript build info
*.tsbuildinfo

# Tests / coverage
coverage
